* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #ffffff;
    padding: 30px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  .wrapper {
    width: 340px;
  }
  
  /* Input field */
  .date-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000;
    padding: 10px 12px;
    margin-bottom: 12px;
  }
  
  .placeholder {
    font-size: 18px;
  }
  
  .calendar-icon {
    border-left: 2px solid #000;
    padding-left: 10px;
    font-size: 18px;
  }
  
  /* Calendar box */
  .calendar {
    border: 2px solid #000;
  }
  
  /* Header */
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #000;
  }
  
  .arrow {
    font-size: 18px;
  }
  
  .month {
    font-size: 18px;
  }
  
  /* Weekdays */
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    border-bottom: 2px solid #000;
  }
  
  .weekdays span {
    padding: 8px 0;
    font-weight: bold;
  }
  
  /* Days grid */
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .days span {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  
  .days span:nth-child(7n) {
    border-right: none;
  }
  